.content {
	width: 100%;
	height: 130px;

	position: relative;

}

.content .pic a {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

.content .pic a.current {
	display: block;
}

.indicator {
	position: absolute;
	left: 30%;
	bottom: -80px;
}

.indicator>span {
	background-color: blue;
	color: white;
	border-radius: 100%;
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
}

.indicator>span.active {
	background-color: tomato;
	border: 2px solid red;
}

.page {
	position: absolute;
	width: 324px;

}

.page>span {
	display: inline-block;
	background-color: rgba(1, 1, 1, 0.8);
	width: 30px;
	height: 30px;
	line-height: 27px;
	margin-right: 6px;
	color: white;
	text-align: center;
	font-size: 25px;
	cursor: pointer;

}

.page>span:hover {
	background-color: rgba(100, 100, 100, 0.8);

}

.prev {
	margin-top: 10px;
	margin-left: -20px;
	float: left;
}

.next {
	position: absolute;
	right: 0px;
	top: 10px;

}

img {
	float: left;
	width: 375px;
	height: 130px;

}
